li , ul{
    list-style: none;
    text-decoration: none;
}
.sale-items{
    width:98%;
    height: 600px;
    margin: auto;
    background-color: blueviolet;
}
.sale-items ul{
    padding: 0;
    display: flex;
    width: 33,33%;
    border: 1px solid black;
}
.sale-items li{
    width: 100%;
}
.sale-items img{
    border: 1px solid black;
    height: 600px;
    width: 98%;
    position:relative;
}
.sale-tag{
    position:absolute;
    top: 20px;
    left: 440px; 
    background-color: #FFD700;
    padding: 0;
    margin: 0 auto;
    height: 20px;
    width: 100px;
    border: 1px solid #000000;
    font-family: 'Gugi';
    font-size:50;
}
.promotions{
    width:98%;
    height: 200px;
    margin: auto;
    background-color: blue;
}
.products-list ul{
    padding: 0;
    display: flex;
    width: 33,33%;
    border: 1px solid black;
}
.products-list  li{
    margin: 5px 20px 5px 10px;   
    width: 100%;
}
.product{
    font-family: 'Gugi', cursive;
}
.collection{
    color: #9b9b9b;
    font-family: 'Quattrocento Sans', sans-serif;
}
.price{
    font-family: 'Gugi', cursive;
    color: #000000;
}
span{
    color: #9b9b9b;
}
