.sale-items{
    width:98%;
    margin: auto;
    background-color: blueviolet;
}
.sale-items ul{
    padding: 0;
    display: flex;
    width: 33,33%;
    border: 1px solid black;
}
.sale-items li{
    width: 100%;
    list-style: none;
    text-decoration: none;
}
.sale-items img{
    border: 1px solid black;
    height: 450px;
    width: 98%;
}
.sale{
    background-color: #FFD700;
    padding: 0;
    margin: 0 auto;
    height: 20px;
    width: 100px;
    border: 1px solid #000000;
    font-family: 'Gugi';
    font-size:50;
    justify-content: center;
}
